<ion-header>
<ion-toolbar color="#4f98bb">
  <ion-buttons slot="start" style="color: #f4f5f8">
    <ion-menu-button></ion-menu-button>
  </ion-buttons>
  <ion-title style="color: #f4f5f8">Seguros
  </ion-title>
</ion-toolbar>
</ion-header>


  <ion-content>
    <ion-slides>
      <ion-slide>
        <img style="width: 100%; background-size: cover" src="/assets/icon/Logo_Seguros.jpg">
      </ion-slide>
    </ion-slides>




    <ion-button expand="full" fill="outline"  text-center>Agende uma consulta</ion-button>

    <ion-card style="border: 1px darkgrey">

      <ion-card-content>
        <br/> <h3 style="color: #000;">QUEM SOMOS:</h3><br/>
        A Pimenta e Oliveira Seguros uma empresa do Grupo Pimenta & Oliveira, foi criada com base no respeito, na transparência, na segurança e no compromisso com os clientes. Além do conforto e da segurança para você e sua família, a Pimenta & Oliveira Seguros oferece seguros empresariais personalizados com a maior cobertura, o máximo de benefícios e o menor custo.
        <br/> <h3 style="color: #000;">MISSÃO:</h3><br/>
        Ser a empresa mais qualificada do mercado, estabelecermos um relacionamento de constante parceria, apresentarmos alternativas adequadas e melhoria da qualidade de vida das pessoas, além do conforto e da segurança para você e sua família e sua empresa.
        <br/> <h3 style="color: #000;">VALORES:</h3><br/>
        Respeito
        Transparência
        Segurança
        Excelência no atendimento
        Planejamento e organização
        <br/> <h3 style="color: #000;">CONTATOS:</h3><br/>

        Pimenta & Oliveira Seguros
        Rio de Janeiro - RJ
        Estrada dos Três Rios, 1.200 sala 433 - Freguesia - Jacarepaguá
        (21) 3264-9810
        📷 (21) 994172683
      </ion-card-content>
    </ion-card>


  </ion-content>

