


    <ion-content class="card-background-page">

        <ion-slides pager="true">
            <ion-slide class="back-card1" >

                    <ion-button style="margin-top: 150%;" (click)="goImovel()">Entrar</ion-button>
            </ion-slide>
            <ion-slide  class="back-card2">
                <ion-button style="margin-top: 150%;" (click)="goSeguros()">Entrar</ion-button>

            </ion-slide>
            <ion-slide  class="back-card3">
                <ion-button style="margin-top: 150%;" (click)="goCorretagem()">Entrar</ion-button>

            </ion-slide>


        </ion-slides>


        <ion-fab vertical="bottom" horizontal="start" slot="fixed">
        <ion-fab-button>
            <ion-icon name="arrow-dropup"></ion-icon>
        </ion-fab-button>
            <ion-fab-list side="top">
                <ion-fab-button><ion-icon name="logo-facebook"></ion-icon></ion-fab-button>
                <ion-fab-button><ion-icon name="logo-instagram"></ion-icon></ion-fab-button>
               <ion-fab-button><ion-icon name="qr-scanner"></ion-icon></ion-fab-button>
            </ion-fab-list>
        </ion-fab>
    </ion-content>
